/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./ui/privacy.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.privacy_container__vgYcj{
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem;
    /* border: 1px solid black;    */
}
.privacy_row__qUmyi{
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 1.8rem; */
    /* border: 1px solid black; */
}
.privacy_row__qUmyi .privacy_heading__1VUQJ{
    width: 100%;
    padding: 1.7rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    /* background-color: antiquewhite; */
}
.privacy_heading__1VUQJ .privacy_title__iaq5a{
    font-size: 3.3rem;
    font-weight: 500;
}
.privacy_row__qUmyi .privacy_content__H3a6y{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.3rem;
    /* border: 1px solid black; */
}
.privacy_content__H3a6y .privacy_section__w_3lO{
    /* width: 60%; */
    /* border: 1px solid black; */
    
}
.privacy_content__H3a6y .privacy_section__w_3lO h2{
    font-size: 2.3rem;
    font-weight: 400;

}
.privacy_content__H3a6y .privacy_section__w_3lO p{
    font-size: 1.2rem;
    margin: 0.6rem 0;
}
.privacy_content__H3a6y .privacy_section__w_3lO ul{
    margin-left: 1.8rem;
}
.privacy_content__H3a6y .privacy_section__w_3lO ul li{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.privacy_content__H3a6y .privacy_section__w_3lO .privacy_icon__q_8l0{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.privacy_section__w_3lO .privacy_icon__q_8l0 svg{
    font-size: 30px;
    color: orangered;
}
.privacy_section__w_3lO .privacy_icon__q_8l0 span{
    font-size: 1.2rem;
    cursor: pointer;
}


@media (max-width: 1024px) {
     .privacy_container__vgYcj{
        padding: 1.4rem 1.3rem;
        margin-top: 1rem;
        /* border: 1px solid black; */
    }
    .privacy_row__qUmyi{
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    .privacy_container__vgYcj{
        padding: 1rem 1.1rem;
        margin-top: 0.8rem;
        /* border: 1px solid black; */
    }
    .privacy_row__qUmyi .privacy_heading__1VUQJ{
        padding: 1.2rem 0;
    }
    .privacy_heading__1VUQJ .privacy_title__iaq5a{
        font-size: 2.6rem;
    }
    .privacy_row__qUmyi .privacy_content__H3a6y{
        gap: 1.2rem;
        margin-top: 1rem;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO h2{
        font-size: 1.6rem;
        font-weight: 500;

    }
    .privacy_content__H3a6y .privacy_section__w_3lO p{
        font-size: 1rem;
        margin: 0.4rem 0;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO ul li{
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .privacy_row__qUmyi .privacy_heading__1VUQJ{
        padding: 0.8rem 0;
    }
    .privacy_heading__1VUQJ .privacy_title__iaq5a{
        font-size: 2rem;
    }
    .privacy_row__qUmyi .privacy_content__H3a6y{
        gap: 0.8rem;
        margin-top: 1rem;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO h2{
        font-size: 1.2rem;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO p{
        font-size: 0.9rem;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO ul li{
        font-size: 0.8rem;
    }
    .privacy_content__H3a6y .privacy_section__w_3lO .privacy_icon__q_8l0{
        gap: 0.2rem;
    }
    .privacy_section__w_3lO .privacy_icon__q_8l0 svg{
        font-size: 20px;
        color: orangered;
    }
    .privacy_section__w_3lO .privacy_icon__q_8l0 span{
        font-size: 0.8rem;
        cursor: pointer;
    }
}
@media (max-width: 320px) {
    .privacy_content__H3a6y .privacy_section__w_3lO .privacy_icon__q_8l0{
        gap: 0.2rem;
    }
    .privacy_section__w_3lO .privacy_icon__q_8l0 svg{
        font-size: 15px;
        color: orangered;
    }
    .privacy_section__w_3lO .privacy_icon__q_8l0 span{
        font-size: 0.7rem;
        cursor: pointer;
    }
}
