/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./ui/aboutpage.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.aboutpage_container__R_SOX{
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    /* border: 1px solid black; */
    
}
.aboutpage_row__dRjjj{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 1.8rem; */
    /* border: 1px solid black; */
}
.aboutpage_row__dRjjj .aboutpage_heading__gXcU8{
    width: 100%;
    padding: 8rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    /* background-image: url("/plane-landing.webp"); */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/nyc.webp");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    /* background-color: antiquewhite; */
}
.aboutpage_heading__gXcU8 .aboutpage_title__NS_lt{
    font-size: 3.3rem;
    font-weight: 500;
    color: white;
}
.aboutpage_row__dRjjj .aboutpage_aboutContent__GCjSL{
    width: 100%;
    margin-top: 1.5rem;
    /* border: 1px solid black; */
}
.aboutpage_aboutContent__GCjSL > *{
    margin-top: 1rem;
}
.aboutpage_aboutContent__GCjSL p{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 5px;
}

@media (max-width: 1024px) {
     .aboutpage_container__R_SOX{
        padding: 1.4rem 1.3rem;
        margin-top: 1rem;
        /* border: 1px solid black; */
    }
    .aboutpage_row__dRjjj{
        max-width: 95%;
    }
}

@media (max-width: 768px) {
     .aboutpage_container__R_SOX{
        padding: 0.5rem 0.7rem;
        margin-top: 0.6rem;
        /* border: 1px solid black; */
    }
    .aboutpage_row__dRjjj .aboutpage_heading__gXcU8{
        padding: 1.2rem 0;
    }
    .aboutpage_heading__gXcU8 .aboutpage_title__NS_lt{
        font-size: 2.6rem;
        /* font-weight: 500; */
    }
    .aboutpage_row__dRjjj .aboutpage_aboutContent__GCjSL{
        margin-top: 1rem;
    /* border: 1px solid black; */
    }
    .aboutpage_aboutContent__GCjSL > *{
        margin-top: 0.6rem;
    }
    .aboutpage_aboutContent__GCjSL p{
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        word-spacing: 4px;
        color: rgb(44, 44, 44);
    }
}
@media (max-width: 375px) {
    .aboutpage_row__dRjjj .aboutpage_heading__gXcU8{
        padding: 0.6rem 0;
    }
    .aboutpage_heading__gXcU8 .aboutpage_title__NS_lt{
        font-size: 1.9rem;
        /* font-weight: 500; */
    }
    .aboutpage_row__dRjjj .aboutpage_aboutContent__GCjSL{
        margin-top: 0.6rem;
    /* border: 1px solid black; */
    }
}
